<!DOCTYPE>
<html>

{% include 'chunks/head.html' %}

<body>
  {% include 'chunks/header.html' %}
  <div class="section">
    <div class="container">
      <h1 class="is-size-1">Блог</h1>

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              {% for record in records %}
              <article class="tile is-child notification">
                <p class="title">
                  <a href="/blog/{{record.id}}">{{record.title}}</a>
                </p>
                <p class="subtitle">{{record.anons}}</p>
              </article>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>
    {% include 'chunks/footer.html' %}
</body>

</html>
