<!DOCTYPE>
<html>

{% include 'chunks/head.html' %}

<body>
  {% include 'chunks/header.html' %}
  <div class="section blog-item">
    <div class="container">
      <h1 class="title">{{record.title}}</h1>
      <h2 class="subtitle">{{record.description}}</h2>
      <p>
        {{record.content|safe}}
      </p>
    </div>
    {% include 'chunks/footer.html' %}
</body>

</html>
