<!DOCTYPE>
<html>

{% include 'chunks/head.html' %}

<body>
  {% include 'chunks/header.html' %}
  <div class="section">
    <div class="container">
      <h1 class="is-size-1">Главная страница</h1>
    </div>
  </div>
  {% include 'chunks/footer.html' %}
</body>

</html>
