<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <!-- navbar items, navbar burger... -->
    </div>
    <div class="navbar-menu">
      <a class="navbar-item" href="/">Главная</a>
      <a class="navbar-item" href="/blog">Блог</a>
    </div>
  </div>
</nav>
