<head>
  <title>head super</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('site.static', filename='bulma.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('site.static', filename='index.css') }}">
</head>
